body {
  font-family: "Roboto", sans-serif;
}
.link,
.link:visited {
  color: #fff;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
  color: #fff;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* ================================================================= HEADER ================================================================= */

.header {
  background-color: #2f303a;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #676767;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 53px;
  color: #fff;
}

.menu__item {
  color: #fff;
}

.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #fff;
  position: relative;
}

.menu__link:hover,
.menu__link:focus {
  color: #c2120c;
  cursor: pointer;
}
.main__link,
.main__link:visited {
  color: #fff;
  text-decoration: none;
}
/*================================================================= MAIN SECTION =================================================================  */
.container__main {
  height: 100vh;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/pexel_map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* ================================================================= MAP ================================================================= */
.title {
  color: #fff;
  font-size: 36px;
  padding-bottom: 20px;
}

.data-title {
  font-size: 24px;
  color: #fff;
}

#timelapse {
  font-size: 24px;
  font-weight: bold;
}
#year {
  background-color: #add8e6;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
#map {
  background-color: #add8e6;
  display: flex;
  justify-content: center;
}

#menu {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  background-color: #676767;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#legend {
  display: flex;
  justify-content: center;
}

.timelapse_box {
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#playButton {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
/* #playButton:hover,
#playButton:focus {
  color: #c2120c;
  cursor: pointer;
} */

#buttonImage {
  width: 30px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.start-year {
  margin-left: 10px;
  width: 100px;
  margin-top: 5px;
  background-color: rgb(242, 242, 242);
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
}
.end-year {
  margin-left: 10px;
  width: 100px;
  margin-top: 5px;
  background-color: rgb(242, 242, 242);
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
}
#dateSlider {
  margin-left: 10px;
  width: 600px;
}

/* =================================================================footer================================================================= */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer {
  background-color: #2f303a;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container__footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-text {
  color: #fff;
}
/* =================================================================姜欣妤 START DIAGRAM CSS================================================================= */

/* =================================================================姜欣妤 END DIAGRAM CSS================================================================= */
