body {
  font-family: "Roboto", sans-serif;
}
.link,
.link:visited {
  color: var(--text-color);
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
  color: var(--text-color);
}

:root {
  --main-bg-color: #2f303a;
  --highlight-color: #c2120c;
  --text-color: #fff;
  --map-background: #add8e6;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1440px;
  }
}
/* ================================================================= HEADER ================================================================= */

.header {
  background-color: var(--main-bg-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #676767;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 10px;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .menu {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    gap: 50px;
  }
}

.menu__item {
  color: var(--text-color);
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 19px;
  }
}
@media screen and (min-width: 1000px) {
  .menu__link {
    font-size: 22px;
  }
}

.menu__link:hover,
.menu__link:focus {
  color: var(--highlight-color);
  cursor: pointer;
}
.main__link,
.main__link:visited {
  color: var(--text-color);
  text-decoration: none;
}
/*================================================================= MAIN SECTION =================================================================  */
.container__main {
  height: 100vh;
  background-color: var(--main-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/img/pexel_map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--text-color);
  font-size: 24px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

.data-title {
  font-size: 18px;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .data-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .data-title {
    font-size: 24px;
  }
}
/* ================================================================= MAP ================================================================= */

#timelapse {
  font-size: 24px;
  font-weight: bold;
}
#year {
  background-color: var(--map-background);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  #year {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  #year {
    font-size: 36px;
  }
}

.svg-container {
  background-color: var(--map-background);

  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

#map {
  background-color: var(--map-background);
}
@media screen and (min-width: 768px) {
  #map {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  #map {
    display: flex;
    justify-content: center;
  }
}

#menu {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  border-radius: 10px;
  background-color: #676767;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#legend {
  display: flex;
  justify-content: center;
}
.timelapse_box {
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#playButton {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#buttonImage {
  width: 30px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.start-year {
  margin-left: 10px;
  width: 100px;
  margin-top: 5px;
  background-color: rgb(242, 242, 242);
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
}
.end-year {
  margin-left: 10px;
  width: 100px;
  margin-top: 5px;
  background-color: rgb(242, 242, 242);
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
}
#dateSlider {
  margin-left: 10px;
  width: 600px;
}

/* =================================================================FOOTER================================================================= */
footer {
  background-color: var(--main-bg-color);
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container__footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-text {
  color: var(--text-color);
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text {
    font-size: 24px;
  }
}
/* ================================================================= BARS ================================================================= */
.tick text {
  font-size: 12px;
  fill: #635f5d;
}

.total-bars {
  justify-content: center;
  display: flex;
}

.total-bars-title {
  text-align: center;
}
.scroll-container {
  height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
.tooltip {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  pointer-events: none;
  white-space: nowrap;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 5em;
  fill: #8e8883;
}

.text-container {
  padding-top: 200px;
}

#menus {
  padding-top: 20px;
  font-size: 19px;
  align-items: center;
  display: flex;
  gap: 15px;
  color: #635f5d;
}
.menu_selection {
  color: #635f5d;
}
.continent_container {
  display: flex;
  gap: 20px;
  padding: 30px;
  font-size: 19px;
  color: #635f5d;
  align-content: center;
}
.continent_container-item,
.bars-text-container_item {
  display: flex;
  font-size: 19px;
  gap: 4px;
  color: #635f5d;
  align-content: center;
  align-items: center;
}
.bars-text-container_item {
  padding-top: 10px;
}
.years-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-tabs {
  padding-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.nav-link {
  background-color: #f0f0f0;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #635f5d;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.active {
  background-color: #ffd09b;
}

.tooltip {
  position: absolute;
  font-size: 0.8em;
  text-align: center;
}
/* =================================================================姜欣妤 START DIAGRAM CSS================================================================= */

/* =================================================================姜欣妤 END DIAGRAM CSS================================================================= */
